---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0.5); transform-origin: top left;">
    <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=2HW2B2mevXOfOx7bVf87giDTip2mdsUUcHSI20hTQdQ&cl=ffffff&w=a"></script>
</div>


  </body>
</html>
